<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.evaluadordefatiga">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
        <activity
            android:name=".CrearUsuario"
            android:exported="false" />
        <activity
            android:name=".MenuPrincipal"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".UserListActivity"
            android:exported="false" /> <!-- Declaración de la actividad de inicio de sesión -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"> <!-- Cambia esto a true o false según lo que necesites -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Otras actividades -->
        <activity android:name=".UserInfoActivity" />
        <activity android:name=".TrainingStartActivity" />
        <activity android:name=".MonitoringActivity" />
        <activity android:name=".AnalysisResultsActivity" />
        <activity android:name=".SplashActivity" />

        <activity
            android:name=".RestaurarContrasena"
            android:exported="false" />


    </application>

</manifest>